*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
.aider*
/wa-bot/node_modules
/wa-bot/wa_auth
/cloud-wa-bot/node_modules
/cloud-wa-bot/wa_auth
/cloud-wa-bot/.env
cloudflared.exe

